.footer{
	background-color: black;
	justify-content: center;
	padding: 0 40px;
	color: white;
	display: flex;
	justify-content: space-between;
	height: 294.5px;
}
.footer .logo-section{
	padding-top: 10px;
	min-width: 478.6px;
	max-width: 478.6px;
	font-size: 101.58px;
	font-family: 'Anton';
}
.footer .quick-links {
	padding-top: 50px;
	padding-left: 80px;
}
.footer .quick-links nav ul{
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 478.6px;
	max-width: 478.6px;
}
.footer .quick-links nav ul li a{
	text-decoration: none;
	color: white;
}
.footer .social-media{
	padding-top: 50px;
}
.footer .social-media nav ul{
	gap: 20px;
	display: flex;
	min-width: 478.6px;
	max-width: 100%;
}
.footer .social-media nav ul li a{
	text-decoration: none;
	color: white;
}