*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-color: #FF3D22 #E2E2E2; /* moving bar  | background of the bar */
    scrollbar-width: thick; 
}

.first-section{
    width: 100vw;
    height: 722.53px;
    background-color: #f1f1ef;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    display: flex;
    justify-content: center;
}
.first-section .text{
    align-self: center;
    width: 464px;
}
.first-section .text button, .second-section .left-area button, .sixth-section .right-area button, .seventh-section .left-area button{
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 179px;
    height: 60px;
    font-size: 17.58px;
    font-weight: 600;
    border: 3px solid #000;
    margin-top: 40px;
}
.first-section .text h2{
    font-size: 33.1px;
    margin-bottom: 20px;
    width: 350px;
}
.first-section .text p{
    font-size: 16.45px;
}
.second-section{
    width: 100vw;
    height: 610.09px;
    display: flex;
    border-bottom: 3px solid #000;
}
.second-section .left-area{
    color: white;
    min-width: 475px;
    max-width: 475px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #090909;
}
.second-section .left-area h2{  
    width: 150px;
    font-weight: 600;
    padding: 0 40px;
    padding-top: 40px;
}
.second-section .left-area p{
    padding: 35px 40px;
}
.second-section .left-area button{  
    margin: 0 40px;
}
.second-section .right-area{
    min-width: 100%;
    background-color: #E2E2E2;
    min-height: 100%;
    max-height: 100%;
}
.second-section .right-area .image-tile{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.second-section .right-area .image-tile .image-wrapper{
    max-width: 310px;
    width: auto;
    height: 100%;
}
.second-section .right-area .image-tile .image-wrapper img{
    max-height: 294.3px;
    max-width: 294.3px;;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}
.second-section .right-area .image-tile .image-wrapper p{
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
}
.third-section{
    padding: 50px;
    color: #040404;
    width: 100%;
    height: 100%;
    max-height: 421px;
    background-color: #FF3D22;
    border-bottom: 3px solid #000;
}
.third-section h1{
    width: 90%;
    font-size: 96px;
    font-weight: 500;
    margin-bottom: 40px;
}
.third-section p{
    font-size: 40px;
}
.fourth-section{
    background-color: #E2E2E2;
    height: 737.2px;
    display: flex;
    border-bottom: 3px solid #000;
}
.fourth-section .left-area{
    height: 100%;
    min-width: 480px;
    max-width: 480px;
}
.fourth-section .left-area img{
    object-fit: cover;
    height: 100%;
    display: block;
}
.fourth-section .right-area{
    padding: 0 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.fourth-section .right-area h2{
    font-size: 33.53px;
    margin-bottom: 50px;
    font-weight: 600;
}
.fourth-section .right-area p{
    font-weight: 300;
}
.fifth-section-newsletter{
    color: white;
    width: 100%;
    max-height: 211.59px;
    height: 211.59px;
    max-height: 211.59px;
    background-color: black;
    border-bottom: 3px solid #000;
}
.fifth-section-newsletter .first-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}
.fifth-section-newsletter h3{
   font-size: 26.84px;
   margin-bottom: 30px;
}
.fifth-section-newsletter p{
   max-width: 700px;
   font-weight: 300;
   font-size: 14.63px;
}
.fifth-section-newsletter input{
    font-size: 19.94px; 
    width: 320px;
    height: 52.59px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    padding-left: 20px;
}
.fifth-section-newsletter input::placeholder {
    color: grey; 
    font-size: 19.94px; 
}
.fifth-section-newsletter input:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
}
.sixth-section{
    background-color: #E2E2E2;
    height: 720px;
    display: flex;
    border-bottom: 3px solid #000;
}
.sixth-section img{
    height: 100%;
    display: block;
    min-width: 720px;
    max-width: 720px;
}
.sixth-section .right-area{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    transform: translateX(15%);
}
.sixth-section .right-area h2{
    font-size: 33.1px;
}
.sixth-section .right-area p{
    max-width: 50%;
    font-size: 16.45px;
    font-weight: 300;
}
.seventh-section {
    display: flex;
    height: 720px;
    border-bottom: 3px solid #000;
    background-color: #E2E2E2;
    border-bottom: 3px solid #000;
}
.seventh-section img{
    height: 100%;
    width: 100%;
    display: block;
}
.seventh-section .left-area{
    min-width: 720px;
    max-width: 720px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(15%);
    gap: 30px;
}
.seventh-section .left-area p{
    font-size: 16.31;
    font-family: 300;
    max-width: 50%;
}
.seventh-section .left-area h2{
    font-size: 33.1px;
    text-align: left;
}
.login-section h4{
    text-align: center;
}
.login-section h4 span link{
    text-decoration: none;
}





